en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
Flask==3.0.3
imbalanced-learn==0.12.2
imblearn==0.0

joblib==1.4.0
matplotlib==3.8.4
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
seaborn==0.13.2
spacy==3.7.4
ultralytics==8.1.47

